<div class="fixed w-full border-b-2 border-gray-600 bg-background text-white">
    <div class="mx-6 flex items-center justify-between p-4 xl:mx-12">
        <!-- left part of the header -->
        <div class="xl:basis-2/12">
            <h3 class="text-xl font-bold"><%= user.email %></h3>
        </div>
        <div id="menu-open-button" class="flex items-center h-11 cursor-pointer relative z-10 lg:hidden">
            <i class="fa-solid text-xl hover:text-main duration-100 fa-bars"></i>
        </div>
        <!-- right part of the header -->
        <div class="hidden basis-8/12 items-center lg:flex xl:basis-10/12 xl:justify-between">
            <div class="flex basis-full justify-center gap-x-10 xl:basis-full">
                <!-- custom search bar -->
                <div class="max-w-3xl basis-full">
                    <%- include("./searchBar.ejs") %>
                </div>
                <div class="flex gap-3 xl:hidden">
                    <button data-name="add-new-note-button"
                        class="h-11 w-11 rounded-sm border border-indigo-500 text-sm font-bold">
                        <i class="fa-solid fa-plus"></i>
                    </button>

                    <a href="/completed"
                        class="flex items-center justify-center h-11 w-11 rounded-sm border border-main text-sm font-bold">
                        <i class="fa-solid fa-check"></i>
                    </a>

                    <a href="/ongoing"
                        class="flex items-center justify-center h-11 w-11 rounded-sm border border-yellow text-sm font-bold">
                        <i class="fa-solid fa-list"></i>
                    </a>
                    <a href="/"
                        class="flex items-center justify-center h-11 w-11 rounded-sm border border-amber-500 text-sm font-bold">
                        <span>all</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>