<% notes.forEach(note=> { %>
    <div data-id=<%= note._id %> 
      <% if (note.completed) { %>
        class="flex flex-col justify-between space-y-4 rounded-3xl bg-main py-4 px-8">
      <% } else { %>
        class="flex flex-col justify-between space-y-4 rounded-3xl bg-yellow py-4 px-8">
      <% } %>

      <div>
          <div class="flex justify-between">
            <h3 data-name="title" class="whitespace-pre-wrap py-2 font-bold break-all"><%= note.title %></h3>
            <div class="flex space-x-4">
              <button data-name="update-button">
                <i
                  class="fa-solid fa-pen-to-square p-2 text-lg duration-200 hover:text-indigo-500"
                ></i>
              </button>
              <button data-name="remove-button">
                <i
                  class="fa-solid fa-trash p-2 text-lg duration-200 hover:text-rose-500"
                ></i>
              </button>
            </div>
          </div>
          <p data-name="description" class="whitespace-pre-wrap break-all"><%= note.description %></p>
        
      </div>
      <div class="flex justify-between">
        <span class="font-bold">Reminder: <%= note.date %></span>
      </div>
    </div>
<% }) %>
