<form
  data-update-id=""
  id="update-form"
  class="fixed top-0 left-0 hidden h-screen w-screen items-center justify-center overflow-hidden bg-black bg-opacity-70"
>
  <div
    class="flex h-4/6 w-11/12 max-w-3xl flex-col space-y-4 rounded-md bg-white p-4 md:w-8/12 lg:w-1/2"
  >
    <input
      minlength="5"
      maxlength="50"
      required
      class="rounded-sm bg-background p-2 font-bold text-white placeholder:font-normal placeholder:italic placeholder:text-slate-200"
      placeholder="title"
      type="text"
      id="update-title"
    />
    <textarea
      required
      minlength="5"
      maxlength="200"
      id="update-description"
      class="h-full rounded-sm bg-background p-2 text-white placeholder:italic placeholder:text-slate-200"
      placeholder="description"
      rows="4"
    >
    </textarea>
    <input
      class="rounded-sm bg-background p-2 text-white placeholder:italic placeholder:text-slate-200"
      placeholder="date"
      type="text"
      id="update-date-picker"
    />
    <button
      id="update-button"
      class="rounded-sm bg-main p-2 font-bold text-white"
      type="submit"
    >
      Update
    </button>
  </div>
</form>
