@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #202125;
}

.show {
    width: 60%;
    overflow: auto;
}

@media(max-width:576px) {
    .show {
        width: 75%;
    }
}

@media(max-width: 420px) {
    .show {
        width: 100%;
    }
}